<div class="form-group mt-2">
  <label class="col-form-label " for="Title">Title</label>
  <div class="">
    <input readonly class="form-control" id="Title" value="<%= model.Title %>" />
  </div>
</div>

<div class="form-group mt-2">
  <label class="col-form-label " for="Title">SubTitle</label>
  <div class="">
    <input readonly class="form-control" id="Title" value="<%= model.SubTitle %>" />
  </div>
</div>

<div class="form-group mt-2">
  <label class="col-form-label " for="Author">Author</label>
  <div class="">
    <input readonly class="form-control" id="Author" value="<%= model.Author %>" />
  </div>
</div>

<div class="form-group mt-2">
  <label class="col-form-label " for="Comments">Comments</label>
  <div class="">
    <textarea readonly class="form-control" cols="20" id="Comments" maxlength="32000" rows="7"><%= model.Post %></textarea>
  </div>
</div>