<%- include("_header") -%>
    

<div class="container-fluid">
	<form>
		<div class="form-group mt-3">
			<label>Title</label>
			<input type="text" class="control-form" name="title" placeholder="enter title">
		</div>
		<div class="form-group mt-3">
			<label>Sub Title</label>
			<input type="text" class="control-form" name="subtitle" placeholder="enter title">
		</div>
		<!-- <div class="form-group mt-3">
			<label>Title</label>
			<input type="text" class="control-form" placeholder="enter title">
		</div> -->
		<div class="form-group mt-3">
			<label>Post Description</label>
			<textarea  class="control-form" name="post" placeholder="enter title"></textarea>
		</div>
		<div class="form-group mt-3">
			<input type="submit" class="btn bt-primary control-form" value="Submit">
		</div>
	</form>
 </div>

<!-- Footer -->
<%- include("_footer") -%>
